@import '~common/stylus/variable'
@import '~common/stylus/mixin'

.bg-wap
  position: relative
  background: url(./img/bg.jpg) no-repeat top center #e28f25
  padding: 700px 0 140px
  overflow: hidden
  text-align center
  .content
    width 1300px
    margin 0 auto
    .sec1
      padding 0 40px
      .gray
        -webkit-filter: grayscale(100%)
        -moz-filter: grayscale(100%)
        -ms-filter: grayscale(100%)
        -o-filter: grayscale(100%)
        filter: grayscale(100%)
        filter: gray
      .item
        //float left
        display inline-block
        width 200px
        height auto
        margin 0 20px
        overflow hidden
        cursor pointer
        text-align center
        b
          color #ffcb09
        .i-top
          line-height: 60px
          font-size: 22px
          color: #fff
        .i-tit
          margin-top: 230px
          color: #fff
          font-size: 18px
          line-height: 3
        .i-num
          text-decoration underline
          color #088fdc
        .clicks
          margin-bottom  20px

      .item:nth-child(1)
        background url('./img/item1.png') no-repeat top
      .item:nth-child(2)
        background url('./img/item2.png') no-repeat top
      .item:nth-child(3)
        background url('./img/item3.png') no-repeat top
      .item:nth-child(4)
        background url('./img/item4.png') no-repeat top
      .item:nth-child(5)
        background url('./img/item5.png') no-repeat top
      .item:nth-child(6)
        background url('./img/item6.png') no-repeat top
      .item:nth-child(7)
        background url('./img/item7.png') no-repeat top
      .item:nth-child(8)
        background url('./img/item8.png') no-repeat top
    .rule
      line-height: 2.5;
      width: 1000px;
      margin: 0 auto;
      text-align: left;
      font-size: 18px;
      color: #7d1e24;
      img
        margin: 80px 0 60px;

@media screen and (max-width: 767px)
  body
    background: #ebbc78
    color: #fff
    font-size: 35px
    text-align: center
    .bg-wap.main
      background: url(./img/bgm.jpg) no-repeat top center #ebbc78
      padding-top: 60%
      overflow: hidden
      padding-bottom: 60px
      background-size: contain
      .content
        width: 100%;
        .sec1
          overflow-x: auto;
          padding 0
          .wrap
            width: 1800px;
          .item
            margin: 0 20px 10px 0;
            height: auto;
            width 200px
            background-size: contain;
            .i-top
              font-size: 19px;
              line-height: 47px;
            .i-tit
              margin-top 230px
              font-size 15px

        .rule
          width: 90%;
          font-size: 20px;
          img
            width: 100%;
            margin: 20px 0;
