@import '~common/stylus/variable'
@import '~common/stylus/mixin'

.alert-warp
  position fixed
  top:0
  left 0
  right 0
  bottom 0
  background rgba(0,0,0,.6)
.alert
  position relative
  .content
    position fixed
    background url(./img/reg-alert.png) no-repeat center
    width 500px
    height 600px
    left 50%
    top 10%
    margin-left -250px
    z-index 99
    .link
      display block
      width 370px
      margin 0 auto
      line-height 60px
      border-radius 40px
      text-align center
      font-size 24px
      cursor pointer
    a.link-f
      background #fc6d08
      color #fff
      margin-top: 350px;
      margin-bottom: 20px;
    a.link-s
      border 2px solid
      color #fc6d08
.lgcontent
  position: fixed
  top: 10%
  width: 500px
  height: 600px
  left: 50%
  margin-left: -250px
  background: #fff
  border-radius: 20px
  overflow hidden
  z-index 99
  .tips
    text-align: right;
    color: #a0a0a0;
  .link
    display: inline-block;
    color: #a0a0a0;
    margin-bottom: 20px;
    text-align: right;
  .topic
    line-height 80px
    background #4969a4
    color #fff
    font-size: 25px
    text-align: center
  .lg-body
    padding 20px 40px
  .input-group
    background #eee
    height 50px
    line-height 50px
    button
      border none
      background #fdcd20
      color #7c3400
      width 100%
      height 100%
      font-size 17px
    input
      width 80%
      border none
      background transparent
    .iconfont
      font-size: 20px
      text-indent: 15px
    .iconfont.eye
      font-size 16px
      margin-right 10px
  .phonecode.input-group
    input
      width 60%
    span
      flex: 1
      background: #fdcd20
      color: #7c3400
      text-align: center
      cursor pointer